.lt_nav{
  padding: 10px;
}

.lt_nav li{
  float: left;
  width: 33.33%;
}

.lt_product{
  padding: 10px;
}

.lt_product a{
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}

.lt_product a:nth-child(even) {
  margin-left: 4%;
}

.lt_product .price{
  color: red;
} 
.lt_product .oldPrice{
  text-decoration: line-through;
  color: #222;
  
} 