.lt_nav{
  padding: 10px;
}

.lt_nav li{
  float: left;
  width: 33.33%;
}

.lt_product{
  padding: 10px;
}

.lt_product li {
  float: left;
  width: 49%;
  margin-bottom: 10px;
}

.lt_product a{
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

.lt_product li:nth-child(even) {
  margin-left: 2%;
}

.lt_product .price{
  color: red;
} 
.lt_product .oldPrice{
  text-decoration: line-through;
  color: #222;
  
} 